# Frontend
node_modules/
dist/
build/

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Django
*.log
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db